resources/www.sat.gob.mx/sitio_internet/cfd/GastosHidrocarburos10/GastosHidrocarburos10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:gceh="http://www.sat.gob.mx/GastosHidrocarburos10" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:catCEH="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/hidrocarburos" xmlns:tdCFDI="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" targetNamespace="http://www.sat.gob.mx/GastosHidrocarburos10" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/hidrocarburos" schemaLocation="../catalogos/hidrocarburos/catHidrocarburos.xsd"/>
  <xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" schemaLocation="../tipoDatos/tdCFDI/tdCFDI.xsd"/>
  <xs:element name="GastosHidrocarburos">
    <xs:annotation>
      <xs:documentation>Complemento para incorporar la información sobre los gastos del consorcio derivados de la ejecución de un contrato de exploración o extracción de hidrocarburos.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Erogacion" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Nodo requerido para capturar los datos de la erogación.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DocumentoRelacionado" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Nodo requerido para expresar la información del documento relacionado a la erogación.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="OrigenErogacion" use="required">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar el origen de la operación nacional o extranjera, por lo que cuando sea nacional, deberá señalarse el FolioFiscalVinculado y cuando sea extranjera, deberá señalarse el NumeroPedimentoVinculado.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="Nacional"/>
                        <xs:enumeration value="Extranjero"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="FolioFiscalVinculado" use="optional">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar el folio fiscal del CFDI emitido al operador del consorcio con motivo de los costos, gastos o inversiones.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="36"/>
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="[a-f0-9A-F]{8}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{12}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="RFCProveedor" use="optional">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar el RFC del proveedor que expidió el CFDI a favor del operador del consorcio, con el que se encuentra vinculado el costo, gasto o inversión.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="12"/>
                        <xs:maxLength value="13"/>
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="[A-Z&amp;Ñ]{3,4}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{2}[0-9A]"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="MontoTotalIVA" use="optional" type="tdCFDI:t_Importe">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar el monto total del IVA del CFDI expedido al operador del consorcio, el cual se encuentra vinculado con el CFDI emitido al integrante del consorcio.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="MontoRetencionISR" use="optional" type="tdCFDI:t_Importe">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar el monto de retención del ISR que conste en el CFDI expedido al operador del consorcio.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="MontoRetencionIVA" type="tdCFDI:t_Importe">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar el monto de retención del IVA que conste en el CFDI expedido al operador del consorcio.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="MontoRetencionOtrosImpuestos" use="optional" type="tdCFDI:t_Importe">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar el monto de retención de otros impuestos que conste en el CFDI expedido al operador del consorcio.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="NumeroPedimentoVinculado" use="optional">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar el número del pedimento de importación tramitado por el operador del consorcio con motivo de los costos, gastos o inversiones realizados en el extranjero, se expresa en el siguiente formato: últimos 2 dígitos del año de validación seguidos por dos espacios, 2 dígitos de la aduana de despacho seguidos por dos espacios, 4 dígitos del número de la patente seguidos por dos espacios, 1 dígito que corresponde al último dígito del año en curso, salvo que se trate de un pedimento consolidado iniciado en el año inmediato anterior o del pedimento original de una rectificación, seguido de 6 dígitos de la numeración progresiva por aduana.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="21"/>
                        <xs:pattern value="[0-9]{2}  [0-9]{2}  [0-9]{4}  [0-9]{7}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ClavePedimentoVinculado" use="optional" type="catCEH:ClavePedimento">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar la clave del pedimento de importación tramitado por el operador del consorcio con motivo de los costos, gastos o inversiones, realizadas en el extranjero.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ClavePagoPedimentoVinculado" use="optional" type="catCEH:ClavePagoPedimento">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar la clave de pago del pedimento tramitado por el operador del consorcio con motivo de los costos, gastos o inversiones, realizadas en el extranjero.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="MontoIVAPedimento" use="optional" type="tdCFDI:t_Importe">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar el IVA pagado del pedimento de importación tramitado por el operador del consorcio con motivo de los costos, gastos o inversiones, realizadas en el extranjero.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="OtrosImpuestosPagadosPedimento" use="optional" type="tdCFDI:t_Importe">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar el monto total de otros impuestos pagados en el pedimento de importación, diferente de IVA, tramitado por el operador del consorcio con motivo de los costos, gastos o inversiones, realizadas en el extranjero.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="FechaFolioFiscalVinculado" use="optional">
                    <xs:annotation>
                      <xs:documentation>Atributo condicional para expresar la fecha del comprobante fiscal, emitido al operador del consorcio con motivo de los costos, gastos o inversiones. Se expresa en la forma aaaa-mm-dd, de acuerdo con la especificación ISO 8601.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:date">
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="([0-9]{4})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Mes" use="required" type="catCEH:Meses">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar el mes al que corresponden los costos, gastos o inversiones efectuadas.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="MontoTotalErogaciones" use="required" type="tdCFDI:t_Importe">
                    <xs:annotation>
                      <xs:documentation>Atributo requerido para expresar el monto total del costo, gasto o inversión, según corresponda, que conste en el CFDI o en el comprobante fiscal que cumpla con lo dispuesto en la regla 2.7.1.16. (o la regla que corresponda en la RMF del ejercicio que se trate), emitido a favor del operador del consorcio, el cual se encuentra vinculado con el CFDI emitido al integrante del consorcio.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Actividades" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Nodo opcional para registrar las actividades petroleras.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SubActividades" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Nodo opcional para registrar las sub actividades relacionadas a cada actividad petrolera.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Tareas" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Nodo opcional para registrar las tareas relacionadas a cada sub actividad petrolera.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="TareaRelacionada" type="catCEH:Tareas" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Atributo opcional para expresar la tarea con la cual se encuentra relacionado el costo, gasto o inversión de que se trata, conforme a los “Lineamientos para la elaboración y presentación de los costos, gastos e inversiones; la procura de bienes y servicios en los contratos y asignaciones; la verificación contable y financiera de los contratos, y la actualización de regalías en contratos y del derecho de extracción de hidrocarburos”, emitidos por la Secretaria de Hacienda y Crédito Público.</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="SubActividadRelacionada" type="catCEH:SubActividad" use="optional">
                          <xs:annotation>
                            <xs:documentation>Atributo opcional para expresar la subactividad con la cual se encuentra relacionado el costo, gasto o inversión de que se trata, conforme a los “Lineamientos para la elaboración y presentación de los costos, gastos e inversiones; la procura de bienes y servicios en los contratos y asignaciones; la verificación contable y financiera de los contratos, y la actualización de regalías en contratos y del derecho de extracción de hidrocarburos”, emitidos por la Secretaria de Hacienda y Crédito Público.</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ActividadRelacionada" type="catCEH:Actividades" use="optional">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional para expresar la actividad con la cual se encuentra relacionado el costo, gasto o inversión de que se trata, conforme a los “Lineamientos para la elaboración y presentación de los costos, gastos e inversiones; la procura de bienes y servicios en los contratos y asignaciones; la verificación contable y financiera de los contratos, y la actualización de regalías en contratos y del derecho de extracción de hidrocarburos”, emitidos por la Secretaria de Hacienda y Crédito Público.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="CentroCostos" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Nodo opcional para capturar los datos complementarios del centro de costos al cual se encuentra relacionado el costo, gasto o inversión, especificando el pozo, yacimiento, campo y área contractual correspondiente.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Yacimientos" minOccurs="0" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Nodo opcional para registrar el centro de costos del yacimiento al cual se encuentra relacionado el campo.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Pozos" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Nodo opcional para registrar el centro de costos del Pozo al cual se encuentra relacionado el Yacimiento.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="Pozo" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Atributo opcional para especificar el centro de costos del pozo al cual se encuentra relacionado el costo, gasto o inversión, conforme a los “Lineamientos para la elaboración y presentación de los costos, gastos e inversiones; la procura de bienes y servicios en los contratos y asignaciones; la verificación contable y financiera de los contratos, y la actualización de regalías en contratos y del derecho de extracción de hidrocarburos”, emitidos por la Secretaria de Hacienda y Crédito Público.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="50"/>
                                    <xs:whiteSpace value="collapse"/>
                                    <xs:pattern value="[^|]{1,50}"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Yacimiento" use="optional">
                          <xs:annotation>
                            <xs:documentation>Atributo opcional para especificar el centro de costos del yacimiento al cual se encuentra relacionado el costo, gasto o inversión,  conforme a los  “Lineamientos para la elaboración y presentación de los costos, gastos e inversiones; la procura de bienes y servicios en los contratos y asignaciones; la verificación contable y financiera de los contratos, y la actualización de regalías en contratos y del derecho de extracción de hidrocarburos”, emitidos por la Secretaria de Hacienda y Crédito Público.</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="50"/>
                              <xs:whiteSpace value="collapse"/>
                              <xs:pattern value="[^|]{1,50}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Campo" use="optional">
                    <xs:annotation>
                      <xs:documentation>Atributo opcional para especificar el centro de costos del campo al cual se encuentra relacionado el costo, gasto o inversión, conforme a los “Lineamientos para la elaboración y presentación de los costos, gastos e inversiones; la procura de bienes y servicios en los contratos y asignaciones; la verificación contable y financiera de los contratos, y la actualización de regalías en contratos y del derecho de extracción de hidrocarburos”, emitidos por la Secretaria de Hacienda y Crédito Público.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="50"/>
                        <xs:whiteSpace value="collapse"/>
                        <xs:pattern value="[^|]{1,50}"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="TipoErogacion" use="required">
              <xs:annotation>
                <xs:documentation>Atributo requerido para señalar el tipo de erogación realizada por el operador.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:whiteSpace value="collapse"/>
                  <xs:enumeration value="Costo"/>
                  <xs:enumeration value="Gasto"/>
                  <xs:enumeration value="Inversión"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="MontocuErogacion" use="required" type="tdCFDI:t_Importe">
              <xs:annotation>
                <xs:documentation>Atributo requerido para expresar el importe de cada uno de los costos, gastos o inversiones efectuados en el mes de que se trate y que integran el total del monto del CFDI emitido al integrante del consorcio y que se encuentran amparados en el CFDI o en el comprobante fiscal que cumpla con lo dispuesto en la regla 2.7.1.16. (o la regla que corresponda en la RMF del ejercicio de que se trate), expedido a favor del operador del consorcio.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Porcentaje" use="required">
              <xs:annotation>
                <xs:documentation>Atributo requerido para expresar el porcentaje que representa el importe total del CFDI que se expide al integrante del consorcio por los costos, gastos o inversiones efectuados en el mes de que se trate, en relación al importe total de los comprobantes expedidos al operador del consorcio.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:decimal">
                  <xs:fractionDigits value="3"/>
                  <xs:maxInclusive value="99.999"/>
                  <xs:minInclusive value="00.001"/>
                  <xs:whiteSpace value="collapse"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Version" use="required" fixed="1.0">
        <xs:annotation>
          <xs:documentation>Atributo requerido que indicar la versión del complemento.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="NumeroContrato" use="required">
        <xs:annotation>
          <xs:documentation>Atributo requerido para expresar el número de contrato asignado por la Comisión Nacional de Hidrocarburos con el cual se encuentra vinculado el gasto.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[^|]{1,50}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="AreaContractual" use="optional">
        <xs:annotation>
          <xs:documentation>Atributo opcional para especificar el centro de costos del área contractual al cual se encuentra relacionado el costo, gasto o inversión, conforme a los “Lineamientos para la elaboración y presentación de los costos, gastos e inversiones; la procura de bienes y servicios en los contratos y asignaciones; la verificación contable y financiera de los contratos, y la actualización de regalías en contratos y del derecho de extracción de hidrocarburos”, emitidos por la Secretaria de Hacienda y Crédito Público.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
            <xs:whiteSpace value="collapse"/>
            <xs:pattern value="[^|]{1,50}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
