resources/www.sat.gob.mx/sitio_internet/cfd/ComercioExterior20/ComercioExterior20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cce20="http://www.sat.gob.mx/ComercioExterior20" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:catCFDI="http://www.sat.gob.mx/sitio_internet/cfd/catalogos" xmlns:tdCFDI="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" xmlns:catComExt="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/ComExt" targetNamespace="http://www.sat.gob.mx/ComercioExterior20" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/catalogos" schemaLocation="../catalogos/catCFDI.xsd"/>
	<xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" schemaLocation="../tipoDatos/tdCFDI/tdCFDI.xsd"/>
	<xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/ComExt" schemaLocation="../catalogos/ComExt/catComExt.xsd"/>
	<xs:element name="ComercioExterior">
		<xs:annotation>
			<xs:documentation>Complemento para incorporar la información en caso de exportación definitiva de mercancías.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Emisor" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nodo opcional para capturar los datos complementarios del emisor del comprobante.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Domicilio">
								<xs:annotation>
									<xs:documentation>Nodo requerido para expresar el domicilio del emisor del comprobante.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Calle" type="tdCFDI:t_Descrip100" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que sirve para precisar la calle en que está ubicado el domicilio del emisor del comprobante.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="NumeroExterior" type="tdCFDI:t_NumeroDomicilio" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional que sirve para expresar el número exterior en donde se ubica el domicilio del emisor del comprobante.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="NumeroInterior" type="tdCFDI:t_NumeroDomicilio" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional que sirve para expresar el número interior, en caso de existir, en donde se ubica el domicilio del emisor del comprobante.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Colonia" type="catCFDI:c_Colonia" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional que sirve para expresar la clave de la colonia en donde se ubica el domicilio del emisor del comprobante, conforme con el catálogo c_Colonia publicado en el Portal del SAT en internet.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Localidad" type="catCFDI:c_Localidad" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional que sirve para precisar la clave de la ciudad, población, distrito u otro análogo en donde se ubica el domicilio del emisor del comprobante, conforme al catálogo c_Localidad publicado en el Portal del SAT en internet.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Referencia" type="tdCFDI:t_Referencia" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional para expresar una referencia geográfica adicional que permita una más fácil o precisa ubicación del domicilio del emisor del comprobante, por ejemplo las coordenadas GPS.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Municipio" type="catCFDI:c_Municipio" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional que sirve para registrar el municipio, delegación o alcaldía, condado o dato análogo del domicilio del emisor del comprobante, conforme al catálogo c_Municipio publicado en el Portal del SAT en internet.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Estado" type="catCFDI:c_Estado" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para señalar la clave del estado en donde se encuentra ubicado el domicilio del emisor del comprobante, conforme al catálogo c_Estado publicado en el Portal del SAT en internet que está basado en la especificación ISO 3166-2.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Pais" type="catCFDI:c_Pais" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que sirve para precisar la clave del país donde se encuentra ubicado el domicilio del emisor del comprobante, conforme al catálogo c_Pais publicado en el Portal del SAT en internet que está basado en la especificación ISO 3166-1. Debe tener el valor MEX.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="CodigoPostal" type="catCFDI:c_CodigoPostal" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que sirve para registrar la clave del código postal en donde se encuentra ubicado el domicilio del emisor del comprobante, conforme al catálogo c_CodigoPostal publicado en el Portal del SAT en internet.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Curp" type="tdCFDI:t_CURP" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar la CURP del emisor del CFDI cuando es una persona física.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Propietario" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Nodo condicional para capturar los datos del o los propietarios de la mercancía que se traslada y ésta no sea objeto de enajenación o siéndolo sea a título gratuito, cuando el emisor del CFDI es un tercero.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="NumRegIdTrib" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para incorporar el número de identificación o registro fiscal del país de residencia para efectos fiscales del propietario de la mercancía trasladada.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="6"/>
									<xs:maxLength value="40"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ResidenciaFiscal" type="catCFDI:c_Pais" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para registrar la clave del país de residencia para efectos fiscales del propietario de la mercancía, conforme con el catálogo c_Pais publicado en el Portal del SAT en internet que está basado en la especificación ISO 3166-1.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Receptor" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Nodo condicional para capturar los datos complementarios del receptor del CFDI.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Domicilio" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Nodo requerido para expresar el domicilio del receptor del comprobante.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Calle" type="tdCFDI:t_Descrip100" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que sirve para precisar la calle en la que está ubicado el domicilio del receptor del comprobante. </xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="NumeroExterior" type="tdCFDI:t_NumeroDomicilio" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional que sirve para expresar el número exterior en donde se ubica el domicilio del receptor del comprobante.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="NumeroInterior" type="tdCFDI:t_NumeroDomicilio" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional que sirve para expresar el número interior, en caso de existir, en donde se ubica el domicilio del receptor del comprobante.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Colonia" type="tdCFDI:t_Descrip120" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional que sirve para expresar la colonia o dato análogo en donde se ubica el domicilio del receptor del comprobante.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Localidad" type="tdCFDI:t_Descrip120" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional que sirve para precisar la ciudad, población, otro dato análogo en donde se ubica el domicilio del receptor del comprobante.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Referencia" type="tdCFDI:t_Referencia" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional para registrar una referencia geográfica adicional que permita una más fácil o precisa ubicación del domicilio del receptor del comprobante, por ejemplo las coordenadas GPS.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Municipio" type="tdCFDI:t_Descrip120" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional que sirve para registrar el municipio, delegación o alcaldía, condado o dato análogo en donde se encuentra ubicado el domicilio del receptor del comprobante.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Estado" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para señalar el estado, entidad, región, comunidad u otra figura análoga en donde se encuentra ubicado el domicilio del receptor del comprobante. El catálogo se publica en el Portal del SAT en internet y será conforme con la especificación ISO 3166-2.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="30"/>
												<xs:whiteSpace value="collapse"/>
												<xs:pattern value="[^|]{1,30}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Pais" type="catCFDI:c_Pais" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que sirve para precisar la clave del país donde se encuentra ubicado el domicilio del receptor del comprobante, conforme al catálogo c_ Pais publicado en el Portal del SAT en internet que está basado en la especificación ISO 3166-1.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="CodigoPostal" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que sirve para registrar el código postal en donde se encuentra ubicado el domicilio del receptor del comprobante.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="12"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="NumRegIdTrib" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para incorporar el número de identificación o registro fiscal del país de residencia para efectos fiscales del receptor del CFDI.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="6"/>
									<xs:maxLength value="40"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Destinatario" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Nodo opcional para capturar los datos del destinatario de la mercancía cuando éste sea distinto del receptor del CFDI.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Domicilio" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Nodo requerido para expresar el domicilio del destinatario de la mercancía.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="Calle" type="tdCFDI:t_Descrip100" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que sirve para precisar la calle en que está ubicado el domicilio del destinatario de la mercancía.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="NumeroExterior" type="tdCFDI:t_NumeroDomicilio" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional que sirve para expresar el número exterior en donde se ubica el domicilio del destinatario de la mercancía.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="NumeroInterior" type="tdCFDI:t_NumeroDomicilio" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional que sirve para expresar el número interior, en caso de existir, en donde se ubica el domicilio del destinatario de la mercancía.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Colonia" type="tdCFDI:t_Descrip120" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional que sirve para expresar la colonia o dato análogo en donde se ubica el domicilio del destinatario de la mercancía.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Localidad" type="tdCFDI:t_Descrip120" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional que sirve para precisar la ciudad, población, distrito u otro análogo en donde se ubica el domicilio del destinatario de la mercancía.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Referencia" type="tdCFDI:t_Referencia" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional para registrar una referencia geográfica adicional que permita una  fácil o precisa ubicación del domicilio del destinatario de la mercancía, por ejemplo las coordenadas GPS.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Municipio" type="tdCFDI:t_Descrip120" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional que sirve para precisar el municipio, delegación o alcaldía, condado o dato análogo en donde se encuentra ubicado el destinatario de la mercancía.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Estado" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para señalar el estado, entidad, región, comunidad u otra figura análoga en donde se encuentra ubicado el domicilio del destinatario de la mercancía. El catálogo se publica en el Portal del SAT en internet y es conforme con la especificación ISO 3166-2. </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="30"/>
												<xs:whiteSpace value="collapse"/>
												<xs:pattern value="[^|]{1,30}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Pais" type="catCFDI:c_Pais" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que sirve para precisar la clave del país donde se encuentra ubicado el destinatario de la mercancía, conforme con el catálogo c_Pais publicado en el Portal del SAT en internet que está basado en la especificación ISO 3166-1.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="CodigoPostal" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que sirve para registrar el código postal en donde se encuentra ubicado el domicilio del destinatario de la mercancía.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="12"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="NumRegIdTrib" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo opcional para incorporar el número de identificación o registro fiscal del país de residencia para efectos fiscales del destinatario de la mercancía exportada.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="6"/>
									<xs:maxLength value="40"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Nombre" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo opcional para expresar el nombre completo, denominación o razón social del destinatario de la mercancía exportada.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="300"/>
									<xs:whiteSpace value="collapse"/>
									<xs:pattern value="[^|]{1,300}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Mercancias">
					<xs:annotation>
						<xs:documentation>Nodo requerido para capturar la información de la declaración de las mercancías exportadas.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Mercancia" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Nodo requerido para capturar la información de la declaración de cada mercancía exportada.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DescripcionesEspecificas" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Nodo opcional que indica la lista de descripciones específicas de la mercancía. Una mercancía puede tener más de una descripción específica.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="Marca" use="required">
													<xs:annotation>
														<xs:documentation>Atributo requerido que indica la marca de la mercancía.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="35"/>
															<xs:whiteSpace value="collapse"/>
															<xs:pattern value="[^|]{1,35}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Modelo" use="optional">
													<xs:annotation>
														<xs:documentation>Atributo opcional que indica el modelo de la mercancía.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:whiteSpace value="collapse"/>
															<xs:minLength value="1"/>
															<xs:maxLength value="80"/>
															<xs:pattern value="[^|]{1,80}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="SubModelo" use="optional">
													<xs:annotation>
														<xs:documentation>Atributo opcional que indica el submodelo de la mercancía.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:whiteSpace value="collapse"/>
															<xs:minLength value="1"/>
															<xs:maxLength value="50"/>
															<xs:pattern value="[^|]{1,50}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="NumeroSerie" use="optional">
													<xs:annotation>
														<xs:documentation>Atributo opcional que indica el número de serie de la mercancía.</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="40"/>
															<xs:whiteSpace value="collapse"/>
															<xs:pattern value="[^|]{1,40}"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="NoIdentificacion" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que sirve para expresar el número de parte, la clave de identificación que asigna la empresa o el número de serie de la mercancía exportada.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="100"/>
												<xs:whiteSpace value="collapse"/>
												<xs:pattern value="[^|]{1,100}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="FraccionArancelaria" type="catComExt:c_FraccionArancelaria" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo condicional que sirve para expresar la clave de la fracción arancelaria correspondiente a la descripción de la mercancía exportada. Debe ser conforme al catálogo c_FraccionArancelaria publicado en el Portal del SAT en internet.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="CantidadAduana" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional para precisar la cantidad de bienes en la aduana conforme a la UnidadAduana cuando en el nodo Comprobante:Conceptos:Concepto se hubiera registrado información comercial.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:minInclusive value="0.001"/>
												<xs:whiteSpace value="collapse"/>
												<xs:pattern value="[0-9]{1,14}(.([0-9]{1,3}))?"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="UnidadAduana" type="catComExt:c_UnidadAduana" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo condicional para precisar la clave de la unidad de medida aplicable para la cantidad expresada en la mercancía en la aduana, conforme al catálogo c_UnidadAduana publicado en el Portal del SAT en internet.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ValorUnitarioAduana" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo condicional para precisar el valor o precio unitario del bien en la aduana. Se expresa en dólares de Estados Unidos de América (USD), el cual puede estar registrado hasta con 6 decimales.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:whiteSpace value="collapse"/>
												<xs:minInclusive value="0.000000"/>
												<xs:pattern value="[0-9]{1,16}(.([0-9]{1,6}))?"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ValorDolares" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido que indica el valor total en dólares de Estados Unidos de América (USD).</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:whiteSpace value="collapse"/>
												<xs:minInclusive value="0.0000"/>
												<xs:pattern value="[0-9]{1,16}(.([0-9]{1,4}))?"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Version" use="required" fixed="2.0">
				<xs:annotation>
					<xs:documentation>Atributo requerido que indica la versión del complemento.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MotivoTraslado" type="catComExt:c_MotivoTraslado" use="optional">
				<xs:annotation>
					<xs:documentation>Atributo condicional que indica la clave del motivo por el cual en la exportación definitiva de mercancías con clave de pedimento A1, éstas no son objeto de enajenación o siéndolo sean a título gratuito, desde el domicilio del emisor hacia el domicilio del receptor o del destinatario. La clave del motivo es conforme con el catálogo c_MotivoTraslado publicado en el Portal del SAT en internet.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ClaveDePedimento" type="catComExt:c_ClavePedimento" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido que indica la clave de pedimento que se haya declarado conforme al catálogo c_ClavePedimento publicado en el Portal del SAT en internet.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CertificadoOrigen" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido para indicar la excepción de certificados de Origen de los Tratados de Libre Comercio que ha celebrado México con diversos países. 0 = No Funge como certificado de origen 1 = Funge como certificado de origen.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:whiteSpace value="collapse"/>
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NumCertificadoOrigen" use="optional">
				<xs:annotation>
					<xs:documentation>Atributo condicional para expresar el folio del certificado de origen o el folio fiscal del CFDI con el que se pagó la expedición del certificado de origen.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="6"/>
						<xs:maxLength value="40"/>
						<xs:whiteSpace value="collapse"/>
						<xs:pattern value="[^|]{6,40}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NumeroExportadorConfiable" use="optional">
				<xs:annotation>
					<xs:documentation>Atributo condicional que indica el número de exportador confiable, conforme al artículo 22 del Anexo 1 del Tratado de Libre Comercio con la Asociación Europea y a la Decisión de la Comunidad Europea.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
						<xs:pattern value="[^|]{1,50}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Incoterm" type="catComExt:c_INCOTERM" use="optional">
				<xs:annotation>
					<xs:documentation>Atributo condicional que indica la clave del INCOTERM aplicable a la factura, conforme al catálogo c_INCOTERM publicado en el Portal del SAT en internet.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Observaciones" use="optional">
				<xs:annotation>
					<xs:documentation>Atributo opcional para ingresar información adicional, como alguna leyenda que se considere incluir en el CFDI.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="300"/>
						<xs:whiteSpace value="collapse"/>
						<xs:pattern value="[^|]{1,300}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TipoCambioUSD" type="tdCFDI:t_TipoCambio" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido que indica el número de pesos mexicanos que equivalen a un dólar de Estados Unidos de América, de acuerdo con el artículo 20 del Código Fiscal de la Federación.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TotalUSD" type="tdCFDI:t_Importe" use="required">
				<xs:annotation>
					<xs:documentation>Atributo requerido que indica el importe total del comprobante en dólares de Estados Unidos de América.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
